annotated-doc
annotated-types
anyio
asttokens
beautifulsoup4
blinker
blis
catalogue
certifi
charset-normalizer
click
cloudpathlib
confection
contourpy
cycler
cymem
decorator
executing
fake-http-header
Flask
Flask-SQLAlchemy
fonttools
greenlet
h11
httpcore
httpx
idna
ipython
ipython_pygments_lexers
itsdangerous
jedi
jellyfish
Jinja2
joblib
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
murmurhash
nltk
numpy
packaging
pandas
parso
pexpect
pillow
playwright
playwright-stealth
preshed
prompt_toolkit
ptyprocess
pure_eval
pydantic
pydantic_core
pyee
Pygments
pyparsing
PyPDF2
python-dateutil
python-dotenv
regex
requests
rich
seaborn
setuptools
shellingham
six
skillNer
smart_open
soupsieve
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
stack-data
tf-playwright-stealth
thinc
tqdm
traitlets
typer
typing-inspection
typing_extensions
urllib3
wasabi
wcwidth
weasel
Werkzeug
wrapt
gunicorn
flask-cors
